.env
venv
logs
__pycache__
*/tmp
.ipynb_checkpoints
filestore
.vscode
.pytest_cache
instance.py 
drivers
*.log
!PET.csv
!NG.csv
/docs/
.idea*
iea_scraper/jobs/com_google_trends/csv/*
build/*
/dist/
environment-windows-alo.yml
.condarc
build/*
